<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jkx.dao.IUsersDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jkx.entity.User">
        <id column="Id" property="Id" />
        <result column="Account" property="Account" />
        <result column="Password" property="Password" />
        <result column="RealName" property="RealName" />
        <result column="Gender" property="Gender" />
        <result column="Tel" property="Tel" />
        <result column="Email" property="Email" />
        <result column="Department" property="Department" />
        <result column="Description" property="Description" />
        <result column="PreviousVisit" property="PreviousVisit" />
        <result column="LastVisit" property="LastVisit" />
        <result column="CreateDate" property="CreateDate" />
        <result column="CreateUser" property="CreateUser" />
        <result column="ModifyDate" property="ModifyDate" />
        <result column="ModifyUser" property="ModifyUser" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        Id, Account, Password, RealName, Gender, Tel, Email, Department, Description, PreviousVisit, LastVisit, CreateDate, CreateUser, ModifyDate, ModifyUser
    </sql>
    <select id="findByAccount" parameterType="java.lang.String" resultType="com.jkx.entity.User">
        select <include refid="Base_Column_List"></include> from users where Account = #{account};
    </select>

</mapper>
